:root {
    --violet: rgb(65, 42, 107);
    --yellow: #fadb61;
    --gray: #f8f8f8;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}


/************ 
about 
************/

/************ 
works
************/


/************ 
flex 
************/


/************ 
services
************/


/************ 
partners 
************/


/************ 
team
************/



/************ 
contact
************/


/************ 
footer
************/




@media only screen and (max-width: 600px) {
   
}