:root {
    --violet: rgb(65, 42, 107);
    --yellow: #fadb61;
    --gray: #f8f8f8;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
.btn-outline-primary {
    border-color: var(--yellow) !important;
    color: var(--yellow) !important;
}
.btn-outline-primary:hover {
    background: var(--yellow) !important;
    color: var(--violet) !important;
}
.underline {
    width: 20%;
    background: var(--yellow);
    height: 9px;
    margin: 20px auto;
}
.heading {
    color: var(--violet);
    font-size: 3rem;
}
/************ 
nav
************/
.bg-light {
    background-color: var(--violet) !important;
}
.navbar-light .navbar-brand {
    color: var(--gray);
}
.navbar-light .navbar-brand:hover {
    color: var(--yellow);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--gray);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--yellow);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--yellow);
}
/************ 
slider
************/
.carousel-caption {
    top: 30%;
}
/************ 
about 
************/
.about .lead {
    font-style: italic;
}
.about img {
    border-radius: 40px;
}
/************ 
works
************/
.works {
    background: var(--gray);
    padding: 50px 0;
}
.works .col-md-3 {
    padding: 10px;
}
.works img {
    border-radius: 30px;
}
/************ 
flex 
************/
.flex {
    background-image:linear-gradient(rgba(65, 42, 107,.8), rgba(65, 42, 107,.8)), url(img/slide1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    color: var(--yellow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************ 
services
************/
.services {
    padding: 60px 0;
}
.services .carousel-caption {
    color: #555;
}
.carousel-item .col-md-7 {
    margin-top: 80px;
}
.carousel-indicators li {
    background-color: var(--violet);
}
.carousel-caption img {
    border-radius: 30px;
}
/************ 
partners 
************/


/************ 
team
************/



/************ 
contact
************/


/************ 
footer
************/




@media only screen and (max-width: 600px) {
   
}